<html>
<head></head>

<body>
{{#posts}}
<li>
<h4 name="postTitle" value="{{title}}">{{title}}</h4>
<p name="postBody">{{body}}</p>
<input type="hidden" name="postId" value="{{id}}" />
</li>
{{/posts}}
<body>
</html>